<mat-card>
<form [formGroup]="loginForm" class="example-form" >
  <mat-form-field class="example-full-width">
    <input matInput [formControl]="username" placeholder="Username">
    <!--<mat-error *ngIf="">-->
      <!--Please enter a valid email address-->
    <!--</mat-error>-->
    <!--<mat-error *ngIf="">-->
      <!--Email is <strong>required</strong>-->
    <!--</mat-error>-->
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" [formControl]="password" placeholder="Password">
    <!--<mat-error *ngIf="">-->
      <!--Please enter a valid email address-->
    <!--</mat-error>-->
    <!--<mat-error *ngIf="">-->
      <!--Email is <strong>required</strong>-->
    <!--</mat-error>-->
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="loginUser()">Login</button>
  <button mat-raised-button (click)="userList()">Users</button>
</form>
</mat-card>
